/* You can add global styles to this file, and also import other style files */
@import "./../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; background-color: lightcyan;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.element-center{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.flex-box{
    display: flex;
}

/* override mat-menu-content padding */
.menu-form-wrapper .mat-menu-content:not(:empty) {
  padding: 0;
}

 /* layout for the form */
.menu-form-wrapper .menu-form {
  display: flex;
  flex-direction: column;
  padding: 24px;
}