<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand">Gallery</a>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" routerLinkActive = "active" [routerLinkActiveOptions] = "{exact: true}">
        <a class="nav-link" [routerLink] = "['/']" >Home </a>
      </li>
      <li *userWithRoles = "['Admin']"  class="nav-item" routerLinkActive = "active">
        <a class="nav-link" [routerLink] = "['/admin']">Admin</a>
      </li> 
    </ul>
    <form *ngIf="!(authService.user | async)" class="form-inline my-2 my-lg-0" (ngSubmit) = "login()">
      <input class="form-control mr-sm-2" name ="username" type="text" [(ngModel)] = "model.userName" placeholder="User" >
      <input class="form-control mr-sm-2" type="password" name = "password" [(ngModel)] = "model.password" placeholder="Password" >
      <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
      <button class="btn btn-default my-2 my-sm-0 pl-2" type="button" (click) = "register()">Register</button>
    </form >
  </div>

  <div *ngIf="!!(authService.user | async)" class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-basic">
      Welcome {{authService.decodedToken.unique_name | titlecase}} <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-basic">
      <li role="menuitem">
        <a class="dropdown-item">
          <span> 
            <i class="fa fa-user-circle"></i>          
          </span>
          Edit Profile
        </a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem">
        <a class="dropdown-item" (click) = "logout()">
          <span> 
            <i class="fa fa-sign-out"></i>          
          </span>
        Logout</a> </li>
    </ul>
  </div>  
</nav>
