  
    <mat-toolbar color="primary" > 
      <span> Gallery </span>
      <mat-menu #menu="matMenu">        
        <button mat-menu-item>
          <mat-icon>account_circled</mat-icon>
          <span>Edit Profile</span>
        </button>
        <button mat-menu-item >
          <mat-icon>people</mat-icon>
          <span>Manage Users</span>
        </button>
        <button mat-menu-item>
          <mat-icon >logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>  
      <span class="fill-space"></span>
      
      <span> Welcome Pepe </span>
      <button mat-icon-button [matMenuTriggerFor] = "menu">
        <mat-icon>more_vert</mat-icon>
      </button>      
    </mat-toolbar>
  
    